$lh : #{'min(0.5rem,20px)'};
$lh1 : #{'min(1rem,40px)'};
$lh15 : #{'min(1.5rem,60px)'};
$lh2 : #{'min(2rem,80px)'};
$lh25 : #{'min(2.5rem,100px)'};
$lh3 : #{'min(3rem,120px)'};
$lh35 : #{'min(3.5rem,140px)'};

@mixin flex{
    display: flex;
    justify-content: space-between;
}
@mixin ptbg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin ptbtn{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin wid{
    width: 90%;
    max-width: 1536px;
    margin: 0 auto;
}
@mixin widpad{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include ff(script,'pauline script.ttf');
@include ff(myungjo,'AdobeMyungjoStd-Medium.otf');
@include ff(mapo,'MapoGoldenPier.ttf');


// 기본세팅 PC
html{
    font-size: 2vw;
    body{
        font-size: 0.5vw;
        overflow-x: hidden;
        color: #868e74;
        font-family: myungjo;
        &::-webkit-scrollbar{
            background-color: #f7f1ec;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #868e74;
            border-radius: 10px;
        }
    }
}
.image{
    color: transparent;
}

// 헤더
.hdrWrap{
    background-color: #ebe7e4;
    position: relative;
    width: 100%;
    .bg{
        color: transparent;
        position: absolute;
        @include ptbtn;
        @for $i from 1 through 3{
            &.i#{$i}{
                background-image: url('../images/bg0#{$i}.png');
            }
        }
        &.i1{
            width: calc(100% / 19 * 3.5);
            height: 14rem;
            left: -4%;
            top: -3.5rem;
            z-index: 1;
        }
        &.i2{
            width: calc(100% / 19 * 8);
            height: 5rem;
            left: -6.5%;
            top: -1.5rem;
        }
        &.i3{
            width: calc(100% / 19 * 4);
            height: 15rem;
            right: -5%;
            top: -5.3rem;
            z-index: 1;
        }
    }
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    header{
        @include wid;
        position: relative;
        z-index: 2;
        padding-top: $lh;
        .hdrTop{
            @include flex;
            height: $lh;
            position: relative;
            overflow: hidden;
            .block{
                width: 4.3%;
                height: 1.7rem;
                border: 1px solid #868e74;
                border-radius: 50%;
                position: absolute;
                overflow: hidden;
                color: transparent;
                &.b1{
                    bottom: 0;
                    left: -2%;
                }
                &.b2{
                    right: -2%;
                    bottom: 0;
                }
            }
            span{
                width: 96.4%;
                border-top: 1px solid #868e74;
                border-right: 1px solid #868e74;
                border-left: 1px solid #868e74;
                margin: 0 auto;
                color: transparent;
            }
        }
        .hdrMd{
            font-family: script;
            border: 1px solid #868e74;
            .left{
                width: 5%
            }
            .txt{
                @include flex;
                width: 96.5%;
                border-left: 1px solid #868e74;
                border-right: 1px solid #868e74;
                margin: 0 auto;
                padding: 0 2%;
                .bar{
                    @include flex;
                    position: relative;
                    width: calc(100% / 15 * 1.2);
                    cursor: pointer;
                    .image{
                        @include ptbtn;
                        background-image: url('../images/bar.png');
                        width: 50%;
                        height: $lh1;
                        margin-top: #{'min(1.2rem,48px)'};
                    }
                    h3{
                        line-height: $lh3;
                        font-size: #{'min(4rem,40px)'};
                        transition: all 0.5s;
                    }
                    .group{
                        position: absolute;
                        @include flex;
                        top: 0;
                        left: 42%;
                        z-index: -1;
                        opacity: 0;
                        width: 0%;
                        overflow: hidden;
                        transition: all 0.5s;
                        >h3{
                            cursor: pointer;
                            &:nth-child(1){
                                margin-left: 20%;
                            }
                            &:hover{
                                color: #475544;
                            }
                        }
                    }
                }
                h1{
                    font-size: #{'min(8em,80px)'};
                    line-height: $lh3;
                    text-align: center;
                    cursor: pointer;
                }
                .btns{
                    @include flex;
                    width: calc(100% / 15 * 1.2);
                    .btn{
                        @include ptbtn;
                        position: relative;
                        width: 38%;
                        height: $lh15;
                        margin-top: #{'min(0.8rem,32px)'};
                        cursor: pointer;
                        color: transparent;
                        &.b2{
                            width: 43%;
                            background-image: url('../images/btn02.png');
                        }
                        .img{
                            @include ptbtn;
                            background-image: url('../images/btn01.png'); 
                            width: 100%;
                            height: $lh15;
                        }
                        .search{
                            @include flex;
                            position: absolute;
                            width: 0%;
                            height: $lh15;
                            border: 1px solid #667062;
                            background-color: #ebe7e4;
                            right: -20%;
                            top: $lh15;
                            border-radius: 10px;
                            z-index: 3;
                            padding-left: 20%;
                            padding-right: 30%;
                            z-index: -1;
                            opacity: 0;
                            transition: all 1s;
                            form{
                                input{
                                    width: 80%;
                                    height: #{'min(1.4rem,56px)'};
                                    background-color: #ebe7e4;
                                    border: 0px;
                                    line-height: #{'min(1.4rem,56px)'};
                                    color: #868e74;
                                    border-radius: 10px;
                                }
                            }
                            .image{
                                @include ptbtn;
                                background-image: url('../images/btn01.png');
                                width: 20%;
                                height: $lh15;
                                color: transparent;
                            }
                        }
                    }
                }
            }
            .right{
                width: 5%
            }
        }
        .hdrBottom{
            @include flex;
            height: $lh;
            position: relative;
            overflow: hidden;
            .block{
                width: 4.3%;
                height: 1.7rem;
                border: 1px solid #868e74;
                border-radius: 50%;
                position: absolute;
                overflow: hidden;
                color: transparent;
                &.b1{
                    top: 0;
                    left: -2%;

                }
                &.b2{
                    right: -2%;
                    top: 0;
                }
            }
            span{
                height: $lh;
                border-bottom: 1px solid #868e74;
                border-right: 1px solid #868e74;
                border-left: 1px solid #868e74;
                width: 96.4%;
                margin: 0 auto;
                color: transparent;
            }
        }
    }
}
// 배너
.bnrWrap{
    background-color: #ebe7e4;
    .banner{
        @include wid;
        .price{
            @include flex;
            width: 80%;
            margin: 0 auto;
            padding-top: $lh2;
            .image{
            @include ptbg;
            background-image: url('../images/sub1/cont1.jpg');
            width: 40%;
            height: #{'min(12rem,480px)'};
            border: 1px solid #868e74;
        }
        .texts{
            width: 55%;
            padding-top: $lh15;
            font-style: italic;
            h2{
                font-size: #{'min(3.5em,35px)'};
                text-transform: capitalize;
                font-weight: 700;
                line-height: $lh15;
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
            h3{
                margin-top: $lh;
                line-height: $lh1;
                font-size: #{'min(2.5em,25px)'};
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
            .option{
                margin-top: $lh1;
                font-size: #{'min(1.8em,18px)'};
                line-height: #{'min(0.8rem,32px)'};
                .top{
                    h5{
                        font-size: #{'min(1.5em,15px)'};
                        &::selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                        &::-moz-selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                    }
                    select{
                        font-family: myungjo;
                        height: $lh15;
                        line-height: $lh15;
                        background-color: #ebe7e4;
                        border: 1px solid #868e74;
                        width: 20%;
                        cursor: pointer;
                        color: #868e74;
                    }
                }
                .bottom{
                    @include flex;
                    margin-top: $lh;
                    width: 50%;
                    .group{
                        width: 50%;
                        h5{
                            font-size: #{'min(1.5em,15px)'};
                            &::selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                            &::-moz-selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                        }
                        select{
                            font-family: myungjo;
                            height: $lh15;
                            line-height: $lh15;
                            background-color: #ebe7e4;
                            border: 1px solid #868e74;
                            width: 80%;
                            color: #868e74;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        }
        .bar{
            border: 1px solid #868e74;
            width: 100%;
            margin-top: $lh2;
            height: $lh35;
            .btns{
                @include flex;
            width: 30%;
            margin: 0 auto;
            font-style: italic;
            .btn{
                font-family: mapo;
                font-size: #{'min(3em,30px)'};
                text-transform: capitalize;
                line-height: $lh35;
                font-weight: 700;
                cursor: pointer;
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
            }
        }
    }
    .banner.bnr02{
        padding-top: $lh35;
        .texts{
            p{
                width: 50%;
                margin: 0 auto;
                font-size: #{'min(2em,20px)'};
                text-align: center;
                line-height: #{'min(0.8rem,32px)'};
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
        }
        .images{
            @include flex;
            margin: 0 auto;
            margin-top: #{'min(4rem,160px)'};
            width: 85%;
            height: #{'min(15rem,600px)'};
            .image{
                @include ptbg;
                @for $i from 1 through 3{
                    &.i#{$i}{
                        background-image: url('../images/sub1/con#{$i}.jpg');
                    }
                }
                position: relative;
                width: calc(100% / 3 - 20px);
                height: #{'min(10rem,400px)'};
                border: 1px solid #868e74;
                &:nth-child(2){
                    margin-top: #{'min(5rem,200px)'};
                }
                span{
                    position: absolute;
                    bottom: #{'min(-1rem,-40px)'};
                    text-transform: capitalize;
                    font-size: #{'min(1.8em,18px)'};
                    color: #868e74;
                    &::selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                    &::-moz-selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                }
            }
        }
        .image{
            @include ptbg;
            @for $im from 1 through 3{
                &.im#{$im}{
                    background-image: url('../images/sub1/conten#{$im}.jpg');
                }
            }
            border: 1px solid #868e74;
            &.im1{
                width: calc(100% / 19 * 7);
                height: #{'min(15rem,600px)'};
                margin-top: #{'min(4rem,160px)'};
                margin-left: 20%;
            }
            &.im2{
                width: calc(100% / 19 * 6);
                height: #{'min(10rem,400px)'};
                margin-left: auto;
                margin-right: 15%;
            }
            &.im3{
                width: calc(100% / 19 * 8.5);
                height: #{'min(13rem,520px)'};
                margin-top: $lh35;
                margin: 0 auto;
            }
        }
        h5{
            font-size: #{'min(2.5em,25px)'};
            line-height: $lh1;
            margin-top: $lh1;
            margin-bottom: $lh1;
            margin-left: 25%;
            &:nth-child(6){
                line-height: $lh2;
                margin-left: 36%;
            }
            &:nth-child(9){
                text-align: center;
                font-size: #{'min(1.4em,14px)'};
                margin: 0 auto;
                margin-top: $lh35;
            }
            &:nth-child(10){
                margin: 0 auto;
                font-size: #{'min(1.6em,16px)'};
                margin-top: $lh35;
                height: $lh1;
                line-height: $lh;
                width: calc(100% / 19 * 6);
                text-align: center;
            }
            &::selection {
                background-color: #868e74;
                color: #fff;
            }
            &::-moz-selection {
                background-color: #868e74;
                color: #fff;
            }
        }
        p{
            text-align: center;
            margin: 0 auto;
            font-size: #{'min(2em,20px)'};
            line-height: #{'min(0.8rem,32px)'};
            margin-top: $lh2;
            &::selection {
                background-color: #868e74;
                color: #fff;
            }
            &::-moz-selection {
                background-color: #868e74;
                color: #fff;
            }
        }
    }
}
// 컨텐츠
.cntWrap{
    background-color: #ebe7e4;
    &:nth-child(5){
        position: relative;
        padding-top: #{'min(9rem,360px)'};
        .dg{
            @include ptbtn;
            @for $i from 1 through 2{
                &.i#{$i}{
                    background-image: url('../images/sub1/reviewbg0#{$i}.png');
                }
            }
            position: absolute;
            width: calc(100% / 19 * 6);
            height: #{'min(16rem,640px)'};
            z-index: 1;
            color: transparent;
            &.i1{
                bottom: -3rem;
                left: -10%;
            }
            &.i2{
                right: -9%;
                bottom: -3.5rem;
            }
        }
    }
    .bg{
        @include ptbtn;
        background-image: url('../images/sub1/contbg.png');
        position: absolute;
        width: calc(100% / 19 * 6);
        height: #{'min(22rem,880px)'};
        left: 15%;
        color: transparent;
    }
    .content.cnt01{
        @include wid;
        padding-top: #{'min(10rem,400px)'};
        header{
            text-align: center;
            h2{
                font-family: script;
                font-size: #{'min(8.5em,85px)'};
                text-transform: capitalize;
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
            .top{
                @include flex;
                margin: 0 auto;
                margin-top: $lh25;
                width: 25%;
                h3{
                    font-family: script;
                    font-size: #{'min(4.5em,45px)'};
                    line-height: $lh2;
                    text-transform: capitalize;
                    &::selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                    &::-moz-selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                }
                .group{
                    h5{
                        font-size: #{'min(2em,20px)'};
                        line-height: $lh1;
                        text-align-last: left;
                        &::selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                        &::-moz-selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                    }
                }
            }
            .bottom{
                @include flex;
                margin: 0 auto;
                margin-top: $lh2;
                width: 20%;
                line-height: $lh2;
                h3{
                    font-family: script;
                    font-size: #{'min(4.5em,45px)'};
                    text-transform: capitalize;
                    text-align: left;
                    &::selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                    &::-moz-selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                }
                h5{
                    font-size: #{'min(2em,20px)'};
                    text-align: left;
                    &::selection {
                        background-color: #868e74;
                        color: #fff;
                    }
                    &::-moz-selection {
                        background-color: #868e74;
                        color: #fff;
                    } 
                }
            }
        }
        section{
            margin-top: $lh2;
            article{
                .image{
                    @include ptbg;
                    @for $i from 1 through 3{
                        &.i#{$i}{
                            background-image: url('../images/sub1/cont#{$i}.jpg');
                        }
                    }
                    color: transparent;
                    border: 1px solid #868e74;
                    &.i1{
                        width: calc(100% / 19 * 9);
                        height: #{'min(13rem,520px)'};
                        margin: 0 auto;
                    }
                    &.i2{
                        width: 50%;
                        height: #{'min(14rem,560px)'};
                    }
                    &.i3{
                        width: 50%;
                        height: #{'min(13.5rem,540px)'};
                    }
                }
                &:nth-child(1) .texts{
                    p{
                        width: calc(100% / 19 * 6.5);
                        height: #{'min(3rem,120px)'};
                        line-height: #{'min(0.8rem,32px)'};
                        font-size: #{'min(1.8em,18px)'};
                        margin: 0 auto;
                        text-align: center;
                        margin-top: $lh2;
                        &::selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                        &::-moz-selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                    }
                    h5{
                        margin-top: $lh2;
                        font-size: #{'min(2.4em,24px)'};
                        text-align: center;
                        line-height: $lh1;
                        &::selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                        &::-moz-selection {
                            background-color: #868e74;
                            color: #fff;
                        }
                    }
                }
                &:nth-child(2){
                    @include flex;
                    margin: 0 auto;
                    width: 80%;
                    margin-top: $lh35;
                    .texts{
                        padding-top: $lh3;
                        width: 40%;
                        text-transform: capitalize;
                        h3{
                            font-style: italic;
                            font-weight: 700;
                            font-size: #{'min(3em,30px)'};
                            margin-left: 5%;
                            &::selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                            &::-moz-selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                        }
                        .bottom{
                            margin-top: $lh1;
                            h5{
                                font-size: #{'min(2.5em,25px)'};
                                text-align: center;
                                width: 80%;
                                &::selection {
                                    background-color: #868e74;
                                    color: #fff;
                                }
                                &::-moz-selection {
                                    background-color: #868e74;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){
                    @include flex;
                    direction: rtl;
                    margin: 0 auto;
                    width: 80%;
                    margin-top: $lh35;
                    .texts{
                        padding-top: $lh3;
                        width: 40%;
                        text-transform: capitalize;
                        h3{
                            direction: ltr;
                            font-weight: 700;
                            font-size: #{'min(3em,30px)'};
                            font-style: italic;
                            text-align: right;
                            margin-right: 5%;
                            &::selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                            &::-moz-selection {
                                background-color: #868e74;
                                color: #fff;
                            }
                        }
                        .bottom{
                            margin-top: $lh1;
                            h5{
                                font-size: #{'min(2.5em,25px)'};
                                text-align: center;
                                width: 80%;
                                &::selection {
                                    background-color: #868e74;
                                    color: #fff;
                                }
                                &::-moz-selection {
                                    background-color: #868e74;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content.cnt02{
        @include wid;
        header{
            @include flex;
            border: 1px solid #868e74;
            text-transform: capitalize;
            padding: 0 5%;
            padding-top: $lh1;
            padding-bottom: $lh1;
            h2{
                font-size: #{'min(4em,40px)'};
                line-height: $lh1;
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
            .btn{
                font-size: #{'min(2.5em,25px)'};
                line-height: $lh1;
                cursor: pointer;
                &::selection {
                    background-color: #868e74;
                    color: #fff;
                }
                &::-moz-selection {
                    background-color: #868e74;
                    color: #fff;
                }
            }
        }
        section{
            @include flex;
            margin: 0 auto;
            margin-top:$lh3;
            width: 85%;
            article{
                width: calc(100% / 3 - 5%);
                position: relative;
                cursor: pointer;
                .image{
                    @include ptbg;
                    @for $i from 1 through 3{
                        &.i#{$i}{
                            background-image: url('../images/sub1/re0#{$i}.jpg');
                        }
                    }
                    border: 1px solid #868e74;
                    width: 100%;
                    height: #{'min(9rem,360px)'};
                }
                .texts{
                    position: absolute;
                    top: 0;
                    padding-top: $lh2;
                    width: 100%;
                    height: #{'min(9rem,360px)'};
                    background: rgba(255,255,255,0.6);
                    opacity: 0;
                    transition: opacity 0.5s;
                    &:hover{
                        opacity: 1;
                    }
                    p{
                        width: 85%;
                        margin: 0 auto;
                        font-size: #{'min(2em,20px)'};
                        line-height: #{'min(0.8rem,32px)'};
                        text-align: center;
                        color: #565b4c;
                    }
                }
            }
        }
    }
}
// 푸터
.ftrWrap{
    background: linear-gradient(0deg,#878f75, #98a085, #ebe7e4);
    padding-top: #{'min(5rem,200px)'};
    padding-bottom: $lh2;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    footer{
        @include wid;
        .ftrTop{
            @include flex;
            height: $lh;
            position: relative;
            overflow: hidden;
            width: 100%;
            .block{
                width: 4.3%;
                height: 1.7rem;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                overflow: hidden;
                &.b1{
                    bottom: 0;
                    left: -2%;
                }
                &.b2{
                    right: -2%;
                    bottom: 0;
                }
            }
            span{
                width: 96.2%;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                margin: 0 auto;
            }
        }
        .ftrMd{
            border: 1px solid #fff;
            .txt{
                @include flex;
                width: 96.4%;
                color: #fff;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                margin: 0 auto;
                padding-left: 3%;
                .groupLeft{
                    width: 40%;
                    padding-top: $lh1;
                    h3{
                        font-size: #{'min(2em,20px)'};
                        text-transform: capitalize;
                        line-height: $lh1;
                        cursor: pointer;
                    }
                }
                h1{
                    font-size: #{'min(9em,90px)'};
                    font-family: script;
                    text-align: center;
                    line-height: #{'min(6rem,240px)'};
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    height: #{'min(6rem,240px)'};
                    width: 20%;
                    cursor: pointer;
                }
                .groupRight{
                    position: relative;
                    width: 40%;
                    p{
                        position: absolute;
                        font-size: #{'min(1.8em,18px)'};
                        text-align: right;
                        line-height: $lh;
                        bottom: $lh;
                        right: 5.5%;
                    }
                }
            }
        }
        .ftrBottom{
            @include flex;
            position: relative;
            overflow: hidden;
            height: $lh;
            .block{
                width: 4.3%;
                height: 1.7rem;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                overflow: hidden;
                &.b1{
                    top: 0;
                    left: -2%;

                }
                &.b2{
                    right: -2%;
                    top: 0;
                }
            }
            span{
                width: 96.2%;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                margin: 0 auto;
            }
        }
    }
}
.topbutton{
    @include ptbtn;
    background-image: url('../images/index/topbutton.png');
    position: fixed;
    width: 8%;
    height: #{'min(3rem,120px)'};
    right: 2%;
    bottom: $lh1;
    cursor: pointer;
    z-index: 10;
}
// 반응형
@media (max-width:1024px) and (min-width:0px){
    html{
        font-size: 4vw;
        overflow-x: hidden;
        body{
            font-size: 1vw;
        }
    }
    .hdrWrap{
        .bg{
            &.i1{
                width: calc(100% / 8 * 2.5);
                height: #{'min(9rem,360px)'};
                left: -11%;
                top: -0.5rem;
            }
            &.i2{
                width: calc(100% / 8 * 3);
                height: #{'min(5rem,200px)'};
                left: -10%;
            }
            &.i3{
                top: -3rem;
                width: calc(100% / 8 * 2);
                height: 10rem;
                right: -12%;
                z-index: 1;
            }
        }
        header{
            @include widpad;
            .hdrTop{
                .block{
                    width: 4.9%;
                }
                span{
                    width: 94.9%;
                }
            }
            .hdrMd{
                width: 100%;
                .txt{
                    width: 95.1%;
                    .bar{
                        width: 16%;
                        .group{
                            left: 0;
                            top: #{'min(2.5rem,100px)'};
                            background-color: #ebe7e4;
                            border: 1px solid #667062;
                            padding-left: 20%;
                            padding-right: 20%;
                            border-radius: 20px;
                            h3{
                                &:nth-child(1){
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .btns{
                        width: 12%;
                        .btn{
                            .search{
                                .image{
                                    width: 30%;
                                }
                            }
                    }
                    }
                }
            }
            .hdrBottom{
                .block{
                    width: 4.9%;
                }
                span{
                    width: 94.9%;
                }
            }
        }
    }
    .bnrWrap{
        .banner{
            @include widpad;
            .price{
                width: 100%;
                .image{
                    width: calc(100% / 8 * 3.5);
                    height: #{'min(10rem,400px)'};
                }
                .texts{
                    width: calc(100% / 8 * 4);
                    padding-top: 0;
                    h2{
                        font-size: #{'min(3em,30px)'};
                        line-height: $lh2;
                    }
                    h3{
                        font-size: #{'min(2em,20px)'};
                    }
                    .option{
                        margin-top: $lh;
                        .top{
                            select{
                                height: $lh1;
                                width: 40%;
                            }
                        }
                        .bottom{
                            width: 100%;
                            .group{
                                select{
                                    height: $lh1;
                                }
                            }
                        }
                    }
                }
            }
            .bar{
                height: $lh2;
                .btns{
                    .btn{
                        line-height: $lh2;
                    }
                }
            }
            &.bnr02{
                .images{
                    width: 100%;
                    .image{
                        width: calc(100% / 3 - 5px);
                        height: #{'min(7.5rem,300px)'};
                        span{
                            font-size: #{'min(1.4em,14px)'};
                        }
                    }
                }
                .image{
                    &.im1{
                        margin-top: $lh25;
                        width: calc(100% / 8 * 4.5);
                        height: #{'min(11rem,440px)'};
                        margin-left: 4%;
                    }
                    &.im2{
                        width: calc(100% / 8 * 4);
                        margin-right: 3%;
                    }
                    &.im3{
                        width: calc(100% / 8 * 5.5);
                        height: #{'min(12rem,480px)'};
                    }
                }
                h5{
                    font-size: #{'min(1.8em,18px)'};
                    &:nth-child(9){
                        margin-top: $lh25;
                    }
                }
                p{
                    font-size: #{'min(1.8em,18px)'};
                    width: 85%;
                }
            }
        }
    }
    .cntWrap{
        &:nth-child(5){
            padding-top: #{'min(4rem,160px)'};
            .dg{
                width: 50%;
                height: #{'min(11rem,440px)'};
                &.i1{
                    top: #{'min(5rem,200px)'};
                    left: -20%;
                }
                &.i2{
                    bottom: #{'min(-1.5rem,-60px)'};
                    right: -20%;
                }
            }
        }
        .bg{
            width: calc(100% / 8 * 3.5);
            height: #{'min(15rem,600px)'};
            left: 8%;
        }
        .content{
            @include widpad;
            &.cnt01{
                padding-top: #{'min(5.5rem,220px)'};
                header{
                    position: relative;
                    h2{
                        font-size: #{'min(6em,60px)'};
                        line-height: $lh2;
                    }
                    .top{
                        width: 50%;
                    }
                    .bottom{
                        margin-top: $lh;
                        width: 40%;
                    }
                }
                section{
                    article{
                        &:nth-child(1){
                            .texts{
                                p{
                                    width: 70%;
                                    font-size: #{'min(1.8em,18px)'};
                                }
                                h5{
                                    font-size: #{'min(1.4em,14px)'};
                                }
                            }
                        }
                        &:nth-child(2){
                            width: 100%;
                            .texts{
                                h5{
                                    font-size: #{'min(2em,20px)'};
                                }
                            }
                        }
                        &:nth-child(3){
                            width: 100%;
                            .texts{
                                h5{
                                    font-size: #{'min(2em,20px)'};
                                }
                            }
                        }
                        .image{
                            &.i1{
                                width: calc(100% / 8 * 5);
                                height: #{'min(11rem,440px)'};
                            }
                            &.i2{
                                width: calc(100% / 8 * 4.5);
                                height: #{'min(13rem,520px)'};
                            }
                            &.i3{
                                width: calc(100% / 8 * 4.5);
                                height: #{'min(12rem,480px)'};
                            }
                        }
                        .texts{
                            p{
                                font-size: #{'min(1.6em,16px)'};
                            }
                        }
                    }
                }
            }
            &.cnt02{
                header{
                    padding-top: $lh;
                    padding-bottom: $lh;
                    h2{
                        font-size: #{'min(3em,30px)'};
                        line-height: $lh15;
                    }
                    .btn{
                        line-height: $lh15;
                        font-size: #{'min(2em,20px)'};
                    }
                }
                section{
                    margin-top: $lh2;
                    article{
                        width: calc(100% / 2 - 15px);
                        &:nth-child(3){
                            display: none;
                        }
                        .image{
                            height: #{'min(8rem,320px)'};
                        }
                        .texts{
                            height: #{'min(8rem,320px)'};
                            padding-top: $lh1;
                            p{
                                font-size: #{'min(1.6em,16px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        footer{
            .ftrMd{
                .txt{
                    .groupLeft{
                        padding-top: $lh;
                    }
                    h1{
                        height: #{'min(5rem,200px)'};
                        line-height: #{'min(5rem,200px)'};
                    }
                    .groupRight{
                        p{
                            font-size: #{'min(1.2em,12px)'};
                        }
                    }
                }
            }
        }
    }
    .topbutton{
        width: 10%;
        bottom: $lh;
        height: $lh3;
        right: 3.5%;
    }
}
@media (max-width:420px) and (min-width:0px){
    html{
        font-size: 10vw;
        body{
            font-size: 2vw;
        }
    }
    .hdrWrap{
        .bg{
            &.i1{
                width:calc(100% / 4 * 1.5);
                height: 6rem;
                left: -16%;
            }
            &.i2{
                width: calc(100% / 4 * 2.5);
                left: -30%;
            }
            &.i3{
                width: calc(100% / 4 * 1.5);
                height: 7rem;
                top: -2rem;
                right: -15%;
            }
        }
        header{
            padding-top: $lh;
            .hdrTop{
                .block{
                    width: 6.8%;
                    height: 1rem;
                    &.b1{
                        bottom: -1px;
                    }
                    &.b2{
                        bottom: -1px;
                    }
                }
                span{
                    width: 90.4%;
                }
            }
            .hdrMd{
                .txt{
                    width: 91%;
                    .bar{
                        height: $lh;
                        width: 25%;
                        .image{
                            width: 40%;
                            margin-top: $lh;
                        }
                        h3{
                            font-size: #{'min(3.5em,35px)'};
                            line-height: $lh2;
                        }
                        .group{
                            top: #{'min(1.5rem,60px)'};
                        }
                    }
                    h1{
                        font-size: #{'min(4.5em,45px)'};
                        line-height: $lh2;
                    }
                    .btns{
                        width: 22%;
                        height: $lh;
                        .btn{
                            line-height: 0;
                            height: #{'min(0.6rem,24px)'};
                            .img{
                                height: #{'min(0.6rem,24px)'};
                            }
                            .search{
                                height: $lh1;
                                line-height: $lh1;
                                top: #{'min(0.8rem,32px)'};
                                right: -20%;
                                form{
                                    input{
                                        line-height:#{'min(0.9rem,36px)'};
                                        height: #{'min(0.9rem,36px)'};
                                    }
                                }
                                .image{
                                    height: $lh1;
                                }
                            }
                        }
                    }
                }
            }
            .hdrBottom{
                .block{
                    width: 6.8%;
                    height: 1rem;
                    &.b1{
                        top: -1px;
                    }
                    &.b2{
                        top: -1px;
                    }
                }
                span{
                    width: 90.4%;
                }
            }
        }
    }
    .bnrWrap{
        .banner{
            &.bnr01{
                .price{
                    padding-top: $lh1;
                    display: inherit;
                    .image{
                        width: 75%;
                        margin: 0 auto;
                        height: #{'min(6rem,240px)'};
                    }
                    .texts{
                        width: 100%;
                        h2{
                            text-align: center;
                            line-height: $lh15;
                            font-size: #{'min(2.5em,25px)'};
                        }
                        h3{
                            text-align: center;
                            margin-top: 0;
                            line-height: $lh;
                            font-size: #{'min(1.8em,18px)'};
                        }
                        .option{
                            @include flex;
                            margin-top: 0;
                            .top{
                                width: 30%;
                                select{
                                    width: 100%;
                                }
                            }
                            .bottom{
                                width: 68%;
                                margin-top: 0;
                                .group{
                                    select{
                                        width: 92%;
                                    }
                                }
                            }
                        }
                    }
                }
                .bar{
                    margin-top: $lh1;
                    height: $lh15;
                    .btns{
                        width: 50%;
                        .btn{
                            font-size: #{'min(2.5em,25px)'};
                            line-height: $lh15;
                        }
                    }
                }
            }
            &.bnr02{
                padding-top: $lh2;
                .texts{
                    p{
                        width: 95%;
                        font-size: #{'min(1.4em,14px)'};
                    }
                }
                .images{
                    display: inherit;
                    margin-top: $lh25;
                    height: #{'min(19rem,1560px)'};
                    .image{
                        width: calc(100% / 4 * 2.5);
                        height: #{'min(5.5rem,220px)'};
                        &:nth-child(2){
                            margin-top: $lh15;
                            margin-left: auto;
                        }
                        &:nth-child(3){
                            margin-top: $lh1;
                        }
                    }
                }
                .image{
                    &.im1{
                        width: 80%;
                        margin: 0 auto;
                        margin-top: $lh2;
                        height: #{'min(6rem,240px)'};
                    }
                    &.im2{
                        display: none;
                    }
                    &.im3{
                        width: 100%;
                        height: #{'min(7rem,280px)'};
                    }
                }
                h5{
                    font-size: #{'min(1.4em,14px)'};
                    margin-left: 0;
                    text-align: center;
                    margin-top: $lh;
                    &:nth-child(6){
                        display: none;
                    }
                    &:nth-child(9){
                        margin-top: $lh1;
                    }
                    &:nth-child(10){
                        margin-top: $lh1;
                        font-size: #{'min(1.2em,12px)'};
                    }
                }
                p{
                    font-size: #{'min(1.4em,14px)'};
                    margin-top: $lh1;
                }
            }
        }
    }
    .cntWrap{
        .bg{
            width: calc(100% / 4 * 2);
            height: #{'min(7rem,280px)'};
        }
        &:nth-child(5){
            padding-top: $lh1;
            .dg{
                height: #{'min(6.5rem,260px)'};
                width: calc(100% / 4 * 3);
                &.i1{
                    top: $lh2;
                    left: -30%;
                }
                &.i2{
                    right: -30%;
                    bottom: 0;
                }
            }
        }
        .content{
            &.cnt01{
                padding-top: $lh25;
                header{
                    h2{
                        font-size: #{'min(4em,40px)'};
                    }
                    .top{
                        margin-top: $lh;
                        width: 80%;
                        h3{
                            font-size: #{'min(3.5em,35px)'};
                        }
                        .group{
                            h3{
                                font-size: #{'min(3.5em,35px)'};
                            }
                            h5{
                                font-size: #{'min(1.5em,15px)'};
                            }
                        }
                    }
                    .bottom{
                        width: 70%;
                        h3{
                            font-size: #{'min(3.5em,35px)'};
                        }
                        h5{
                            font-size: #{'min(1.5em,15px)'};
                            width: 55%;
                        }
                    }
                }
                section{
                    margin-top: $lh1;
                    article{
                        &:nth-child(1){
                            .texts{
                                p{
                                    font-size: #{'min(1.2em,12px)'};
                                    line-height: $lh;
                                    margin-top: $lh;
                                    width: 90%;
                                    height: $lh15;
                                }
                                h5{
                                    margin-top: $lh1;
                                }
                            }
                        }
                        &:nth-child(2){
                            margin-top: $lh2;
                            display: inherit;
                            .texts{
                                padding-top: $lh;
                                width: 100%;
                                h3{
                                    font-size: #{'min(2.4em,24px)'};
                                    margin-left: 10%;
                                }
                                .bottom{
                                    @include flex;
                                    width: 80%;
                                    margin: auto;
                                    margin-top: $lh;
                                    h5{
                                        font-size: #{'min(1.5em,15px)'};
                                    }
                                }
                            }
                        }
                        &:nth-child(3){
                            display: inherit;
                            margin-top: $lh1;
                            .texts{
                                padding-top: $lh;
                                width: 100%;
                                h3{
                                    font-size: #{'min(2.4em,24px)'};
                                    margin-right: 10%;
                                }
                                .bottom{
                                    @include flex;
                                    margin: auto;
                                    margin-top: $lh;
                                    h5{
                                        font-size: #{'min(1.5em,15px)'};
                                    }
                                }
                            }
                        }
                        .image{
                            &.i1{
                                width: calc(100% / 4 * 3);
                                height: #{'min(6rem,240px)'};
                            }
                            &.i2{
                                width: 85%;
                                margin: 0 auto;
                                height: #{'min(7rem,280px)'};
                            }
                            &.i3{
                                width: 85%;
                                margin: 0 auto;
                                height: #{'min(6rem,240px)'};
                            }
                        }
                    }
                }
            }
            &.cnt02{
                header{
                    height: $lh15;
                    padding-top: 0;
                    padding-bottom: 0;
                        h2{
                            font-size: #{'min(2em,20px)'};
                            line-height: $lh15;
                        }
                        .btn{
                            font-size: #{'min(1.5em,15px)'};
                            line-height: $lh15;
                        }
                }
                section{
                    margin-top: $lh1;
                    padding-bottom: $lh1;
                    article{
                        width: 80%;
                        margin: 0 auto;
                        &:nth-child(2){
                            display: none;
                        }
                        .image{
                            height: #{'min(6rem,240px)'};
                        }
                    }
                }
            }
        }
    }
        // 푸터
    .ftrWrap{
        padding-top: $lh15;
        padding-bottom: $lh;
        footer{
            .ftrTop{
                .block{
                    border: none;
                }
                span{
                    border: none;
                }
            }
            .ftrMd{
                border: none;
                .txt{
                    border: none;
                    .groupLeft{
                        display: none;
                    }
                    h1{
                        border: 1px solid #fff;
                        height: $lh3;
                        margin: 0 auto;
                        width: 40%;
                        line-height: $lh3;
                    }
                    .groupRight{
                        display: none;
                    }
                }
            }
            .ftrBottom{
                .block{
                    border:none;
                }
                span{
                    border:none;
                }
            }
        }
    }
    .topbutton{
        width: 15%;
        height: $lh15;
        right: 5%;
        bottom: $lh1;
    }
}